.text-container {
  height: auto !important;
}


.aboutBtn{
  border: 2px solid grey;
  padding: 10px;
  background-color: inherit;
  transition: all 300ms;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -ms-transition: all 300ms;
  -o-transition: all 300ms;
}

.aboutBtn:hover{
  background-color: #212529;
  color: white;
}

.text{
  font-family: "Montserrat", sans-serif;
}

@media (max-width: 1375px) {
  // .flex-container {
  //   display: flex;
  //   flex-direction: column-reverse;
  // }

  .col-6 {
    width: 100%;
    height: auto;

  }
}

@media (max-width: 633px) {
  .text-container {
    height: auto !important;
  }
}


// TimeLine

.timeline {
  position: relative;
  width: 80%;
  margin: 50px auto;
  padding: 20px 0;
}

.timeline::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 2px;
  height: 100%;
  background: #454545;
  transform: translateX(-50%);
}

.timeline-item {
  position: relative;
  width: 50%;
  padding: 10px 20px;
  box-sizing: border-box;
  opacity: 0; /* Comienza invisible */
  transform: translateY(50px); /* Comienza desplazado hacia abajo */
  transition: opacity 0.5s ease-out, transform 0.5s ease-out; /* Animación suave */
}

.timeline-item.visible {
  opacity: 1; /* Se vuelve visible */
  transform: translateY(0); /* Vuelve a su posición original */
}

.timeline-item.right {
  left: 50%;
}

.timeline-content {
  background: #f8f9fa;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  border: 1px solid #454545;

}

.timeline-dot {
  position: absolute;
  top: 20px;
  width: 14px;
  height: 14px;
  background-color: white;
  border: 1px solid #454545;
  border-radius: 50%;
}

.timeline-item:not(.right) .timeline-dot {
  right: -7px;
}

.timeline-item.right .timeline-dot {
  left: -7px;
}

.timeline-date {
  font-size: 0.9rem;
  color: #555;
}

.timeline-company {
  font-size: 0.9rem;
  color: #454545;
  border-radius: 20px;
  border: 1px solid #454545;
  padding: 6px 15px;
  width: fit-content;
  font-weight: 500;
}

.timeline-description {
  font-size: 0.9rem;
  color: #454545;
  margin-top: 10px;
}

@media (max-width: 586px) {
  .timeline {
    width: 100%;
  }
}

